In [59]:
# Q.1 Discuss string slicing and provide examples?

# String slicing is process to take out some useful part of the string or the substring from its original string, which can be useful in some ooperation .As we know string are immutable , so we cannot change or update it but can access it through indexing and slicing

In [60]:
a="Lok Sabha"
a[0]

#this will give us first element of the string


# now we will slice and print whatever part we want .The first element is at 0 oindex and then so on the index increses by 1 from left to right
#There is also the concept of negative index which start from right to left,first index is at -1` position .

'L'

In [61]:
a[0:4]



"""
a[start:stop:step]
this is called slicing we start from 0 element and goes till third index element because stop index is not included in slicing
"""

'\na[start:stop:step]\nthis is called slicing we start from 0 element and goes till third index element because stop index is not included in slicing\n'

In [62]:
# Q.2Explain the key features of lists in Python?

In [63]:
a=[1,2,3,4,5]
type(a)

list

In [64]:
# So a is list ,list are immutable and the they ordered data structure ,the index of there first element is 0 as it goes on.We can access element ,remove element ,display element from a list.

In [65]:
#adding element into list

a.append(10)
a

[1, 2, 3, 4, 5, 10]

In [66]:
#removing element from list

a.pop()

10

In [67]:
a

[1, 2, 3, 4, 5]

In [68]:
#accessing element from list
a[0] ,a[0:3]

(1, [1, 2, 3])

In [69]:
# Q.3Describe how to access, modify, and delete elements in a list with examples?

# done above

In [70]:
# Q.4Compare and contrast tuples and lists with examples?

In [71]:
lists=[1,2,3,4,5]
tuples=(1,2,3,4,5)

In [72]:
#accessing elemnt from both data type

lists[0]

1

In [73]:
lists[0:3]

[1, 2, 3]

In [74]:
tuples[0]

1

In [75]:
tuples[0:4]

(1, 2, 3, 4)

In [76]:
# Hence we can access the element from both the data type and dispaly it on the screen

In [77]:
#adding and removing element from both data type

In [78]:
lists.append(10)

In [79]:
lists

[1, 2, 3, 4, 5, 10]

In [80]:
lists.remove(10)

In [81]:
lists

[1, 2, 3, 4, 5]

In [82]:
# Tuple are immutable data type so we cannot add or remove element from it and there is nno function do that

In [83]:
#now updating element from both data type

lists[0]=100

In [84]:
lists

[100, 2, 3, 4, 5]

In [85]:
tuples[0]=100

TypeError: 'tuple' object does not support item assignment

In [86]:
#we cannot updatae the element in tuple because they are immutabble data type

In [87]:
# Q.5Describe the key features of sets and provide examples of their use

In [88]:
sets={1,2,3,4,1}

type(sets)

set

In [89]:
#now if we print set we will see 1 gone from last jusst because set only store unique element 

sets

{1, 2, 3, 4}

In [90]:
# Set are unordered data structure so that we cannot access the elemnt of the set

In [91]:
sets[0]

TypeError: 'set' object is not subscriptable

In [92]:
#but we can add and remove element from the set

sets.add(9)

In [93]:
sets

{1, 2, 3, 4, 9}

In [94]:
sets.remove(2)

In [95]:
sets

{1, 3, 4, 9}

In [96]:
# Sets can be used when we want to store a unique element and can add or remove element on the basis of the requirement .One more thing is that we cannot update element in the set

In [97]:
# Q.6Discuss the use cases of tuples and sets in Python programming?

# Set is already discuss above so we will move to0 the tuple

In [98]:
tup=(1,2,3,4,5,6,7)
type(tup)

tuple

In [99]:
"""
Tuple are immutable in nature means element in the tuple cannot be removed , canot be added after creating tuple,cannot be updated,but we can access the element of
the tuple
"""

tup[0]

1

In [100]:
# So tuple can be used to store some sensitive data which we don't want to do the modification just only we want to access the value whenever is required

In [101]:
# Q.7Describe how to add, modify, and delete items in a dictionary with examples?

In [102]:
my_dict={"a":10,"b":20,"c":30,"d":40}
type(my_dict)

dict

In [103]:
#adding element in dictionary
my_dict["e"]=50
my_dict

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [104]:
#modifying element in dictionary

my_dict["a"]=100
my_dict

{'a': 100, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [105]:
#deleting element in the dictionary

del my_dict["e"]

In [106]:
my_dict

{'a': 100, 'b': 20, 'c': 30, 'd': 40}

In [107]:
# Q.8Discuss the importance of dictionary keys being immutable and provide examples.

In [108]:
dic={"one":1,"two":2,"three":3}

#here one ,two ,three are the keys 

dic.keys()

dict_keys(['one', 'two', 'three'])

In [109]:
# As we know in other data type like list ,tuple etc we are provided with index like 0,1... by the python which is in build and its point to the value of that eleemnt .In dictionary we provide keys which point to the value of that respective keys .but we cannot access the value because dictionary is unordered data type.every key should be unique so by this every value must have a unique and single pointer.Keys are immutable,  this help in removing the chances of error when we are updating the dictionary